*
{
  padding: 0;
  margin: 0;
}
body
{
height: 100vh ; 
}
header
{
    height: 5%;
    width: 100%;
    background: coral;
}
nav
{
    height: 5%;
    width: 100%;
    background: coral;
    margin-top: 30;
}
section
{
    margin-top: 10;
    display: flex;
    height: 70%;
    width: 100%;
}
#article1
{
    margin: 10;
    background: darkorange;  
    width: 15%;
}
aside
{
    margin: 10;
    background: lightsalmon;
    width: 70%;
}
#article2
{
    margin: 10;
    background: darkorange;
    width: 15%;
}
footer
{
    margin-top: 8;
    height: 15%;
    width: 100%;
    background: coral;
}
